h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas                
                    +navTemaItem('1', 'Desarrollo histórico de los motores de corriente alterna síncronos de imanes permanentes', 'main.html#page/desarrollo/')
                    +navTemaItem('2', 'Conceptos básicos de los motores de imanes permanentes', 'main.html#page/conceptos/')
                    +navTemaItem('3', 'Placas características de los motores de imanes permanentes', 'main.html#page/placas/')
                    +navTemaItem('4', 'Esquemas y planos de conexionado de motores de imanes permanentes', 'main.html#page/esquemas/')                    