.container
    .header-ecored
        h1 3. Placas características de los motores de imanes permanentes
    .jumbotron.bg-white
        .sub-ecored#31
            h2 3.1 Identificación de las placas características de los fabricantes de motores
        .jumbotron.mb-0.bg-2.border-inf-jumbo.mt-5
            .row.justify-content-center.align-items-center
                .col-12.col-md-5
                    p Los motores tienen una placa característica de identificación con los parámetros más importantes de funcionamiento.
                    img.img-a(src="assets/images/pages/ilustraciones/img29.png").img-fluid 
                .col-12.col-md-7
                    .jumbotron.bg-3
                        p Placa ejemplo PMM
                        img.img-a.my-2(src="assets/images/pages/ilustraciones/img30.png").img-fluid 

                        p.mt-4 Placa PMM 10 Polos 
                        img.img-a.my-2(src="assets/images/pages/ilustraciones/img31.png").img-fluid 
        .jumbotron.bg-4.mt-0.border-sup-jumbo
            .row.justify-content-center.align-items-center
                .col
                    p Entre esos están los siguientes:
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top SN: Número de serie del motor.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Volt: Voltaje de operación a la frecuencia eléctrica nominal
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Current: corriente máxima de operación.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Weight: peso del motor.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top PN: Número parte de motor para identificar el modelo exacto.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top HP: Potencia máxima del motor en caballos de fuerza a la velocidad nominal.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top RPM: Velocidad nominal
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Serie: es el diámetro externo del motor, en este caso referenciado en pulgadas.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Options: Información miscelánea por ejemplo N° de rotores.

                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img32.png").img-fluid 

        .sub-ecored.mt-5#32
            h2 3.2 Conceptos básicos para los motores de Imanes Permanentes de Fondo
        p.mt-5 Para conocer a detalle sobre los conceptos básicos sobre:
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid 
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid 
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid 
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img36.png").img-fluid   

        .hr-ecored

        .jumbotron.bg-4
            .row.justify-content-center.align-items-center
                .col
                    p Consulte el siguiente diccionario sobre electricidad, donde podrá conocer a detalle el significado de los anteriores términos.  
                .col-auto 
                    section.my-5

                        a(href="https://www.simbologia-electronica.com/diccionario-electronica/diccionario-electronica_C.htm" target="_blank").media-link      

                            img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon

                            .media-link-title
                                p.text-small enlace  para  consultar el  diccionario                    

        .jumbotron.bg-4
            .row.justify-content-center.align-items-center
                .col
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Caudal 
                            p Se define como caudal o gasto al volumen de líquido que fluye (es decir que pasa por una sección transversal) en un determinado tiempo. 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Diferencia de altura
                            p “Es la fuerza por unidad de área, ejercida por una columna de líquido, a una altura sobre una profundidad (y una presión ) de interés. Los fluidos fluyen en forma descendente por un gradiente hidráulico, desde los puntos de mayor altura hidráulica hasta los puntos de menor altura hidráulica. El término se utiliza a veces como sinónimo de carga hidrostática”. (Schlumberger, s. f.)                      
                .col-auto 
                    section.my-5

                        a(href="https://www.fisicapractica.com/caudal.php" target="_blank").media-link      

                            img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon

                            .media-link-title
                                p.text-small enlace  para  consultar el  diccionario                                                    