.container
    .header-ecored
        h1 4. Esquemas y planos de conexionado de motores de imanes permanentes
    .jumbotron.bg-white
        .sub-ecored#41
            h2 4.1 Esquema de conexión de equipos para instalación de motores de Fondo.
        P.mt-5 Un sistema electrosumergible con motor de imanes permanentes de fondo consta de las siguientes componentes:

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4
                .jumbotron.bg-5
                    img.img-a.mb-3(src="assets/images/pages/ilustraciones/1.png").img-fluid   
                    h3 Transformador reductor (SDT):
                    p Este se encarga de disminuir el voltaje de la red al voltaje permitido por el Variador de frecuencia normalmente 480V AC.

            .col-12.col-md-4
                .jumbotron.bg-5
                    img.img-a.mb-3(src="assets/images/pages/ilustraciones/2.png").img-fluid   
                    h3 Variador de Frecuencia:
                    p Es un dispositivo que se utiliza para modificar la frecuencia de salida y con esto variar la  velocidad de operación de un motor de corriente alterna.
                    p Normalmente cuenta con una parte rectificadora para convertir la corriente alterna en corriente directa y después utilizando transistores IGBT se vuelve a generar la onda de corriente alterna con el valor de frecuencia modificado.
            .col-12.col-md-4
                .jumbotron.bg-5
                    img.img-a.mb-3(src="assets/images/pages/ilustraciones/3.png").img-fluid   
                    h3 Transformador Elevador (SUT):
                    p Es el encargado de aumentar el voltaje de salida del variador de frecuencia a la placa requerida por el motor.

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img37.png").img-fluid   

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4
                .jumbotron.bg-5
                    img.img-a.mb-3(src="assets/images/pages/ilustraciones/4.png").img-fluid   
                    h3 Caja de Venteo
                    p Es una caja de conexiones que une el conector de superficie del equipo ESP con el secundario del transformador elevador (SUT).

            .col-12.col-md-4
                .jumbotron.bg-5
                    img.img-a.mb-3(src="assets/images/pages/ilustraciones/5.png").img-fluid   
                    h3 Cable de Potencia
                    p Es el cable utilizado para energizar el motor en fondo.
            .col-12.col-md-4
                .jumbotron.bg-5
                    img.img-a.mb-3(src="assets/images/pages/ilustraciones/6.png").img-fluid   
                    h3 Equipo Electrosumergible con Motor de Imanes Permanentes.
        .sub-ecored.mt-5#42
            h2 4.2 Tipos de conectores en la industria para la conexión de motores de fondo.
        p.mt-5 En la industria normalmente se utilizan dos tipos de conectores para los motores:
        .jumbotron.bg-1 
            p #[strong Plug-In:] es un conector tipo enchufe el cual tiene la ventaja de ser un tipo de conexión rápida.
            .row.justify-content-center.align-items-stretch.mt-5
                .col-12.col-md-4.br-3
                    p.text-center  Motor Lead Extension ( MLE) Plug In 
                    img.img-a(src="assets/images/pages/ilustraciones/img38.png").img-fluid   

                .col-12.col-md-4.br-3
                    p.text-center Partes de la cabeza del MLE (Pothead) Plugin 
                    img.img-a(src="assets/images/pages/ilustraciones/img39.png").img-fluid   

                .col-12.col-md-4.br-3
                    p.text-center Conector del motor (Pothole)
                    img.img-a(src="assets/images/pages/ilustraciones/img40.png").img-fluid   


        .jumbotron.bg-1.mt-5 
            p #[strong TAPE-IN:] es un tipo de conector donde se conecta la extensión del motor al motor realizando un empalme Cable-Cable.
            .row.justify-content-center.align-items-stretch.mt-5
                .col-12.col-md-4.br-3.mx-1
                    img.img-a(src="assets/images/pages/ilustraciones/img41.png").img-fluid  

                .col-12.col-md-4.br-3.mx-1
                    p.text-center Partes de la cabeza del MLE (Pothead) Plugin 
                    img.img-a(src="assets/images/pages/ilustraciones/img39.png").img-fluid 

        .sub-ecored.mt-5#43 
            h2  4.3 Ensamble y desensamble de motor PMM de Fondo
        p.mt-5 En la industria normalmente se utilizan dos tipos de conectores para los motores:
        .row.my-5
            .col-1
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-1-tab.nav-link.active.px-2(data-toggle='pill', href='#v-pills-1', role='tab', aria-controls='v-pills-1', aria-selected='true') 1
                    a#v-pills-2-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-2', role='tab', aria-controls='v-pills-2', aria-selected='false') 2
                    a#v-pills-3-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-3', role='tab', aria-controls='v-pills-3', aria-selected='false') 3
            .col-11
                #v-pills-tabContent.tab-content
                    #v-pills-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-1-tab')
                        h3.text-color-1 El procedimiento de ensamble de motores de imanes permanentes de fondo es el siguiente:
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt    
                                p.m-top Alistamiento de piezas: se debe solicitar al almacén las distintas piezas que conforman un motor de imanes permanentes dependiente de la serie y tamaño del motor.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt    
                                p.m-top Revisión de piezas por el departamento de control de calidad. Las piezas deben estar libres de óxido y cumplir con las medidas de fabricación. 
                        
                        img.img-a(src="assets/images/pages/ilustraciones/img42.png").img-fluid

                    #v-pills-2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-2-tab')
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt    
                                p.m-top Ensamble del conjunto de rotores                    
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Precaución: ya que los motores PMM cuentan con imanes de alta densidad estos no deben tener contacto con superficie de metal ya que pueden generar un atrapamiento en las manos.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Verificar el enderezado del eje.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Instalar el conjunto rotores en el eje.
                        img.img-a(src="assets/images/pages/ilustraciones/img43.png").img-fluid

                    #v-pills-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-3-tab')
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt    
                                p.m-top Ensamble del Motor                    
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Enrolle los cables terminales de la cabeza en sentido contrario a las manecillas del reloj
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Instale el protector de fases, la arandela de baquelita y el retenedor en la cabeza
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Coloque el retenedor o ring lock, e instale los 2 tornillos Allen que se insertan en el retenedor y aplique el torque adecuado.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Cuidadosamente instale la cabeza del motor.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt    
                                p.m-top Inspección de condiciones eléctricas del motor 
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Realizar las medidas eléctricas de aislamiento con la herramienta Megger esta deben ser mayores a 1000 mohm
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top  y lecturas fase a fase de resistencia con el multimetro.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Revise la rotación del motor con un indicador de secuencia de rotación de fases.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Coloque la tapa de envío en el podhole.
                        
                        img.img-a(src="assets/images/pages/ilustraciones/img44.png").img-fluid