.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Prof. Dr.-Ing. Martin Doppelbauer (2020), The invention of the electric motor 1800-1854 
                    
                    td Pagina web
                    td 
                        a(href="https://www.eti.kit.edu/english/1376.php", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td CHRISTOPHER JASZCZOLT (2017), Understanding permanent magnet motors
                    
                    td Pagina web
                    td 
                        a(href="https://www.controleng.com/articles/understanding-permanent-magnet-motors/", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver