include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Birmingham. (s. f.). The development of permanent magnets in the 20th Century. BHmax has improved exponentially, doubling every 12 years. [Figura]. www.birmingham.ac.uk/. ", "https://www.birmingham.ac.uk/Documents/college-eps/metallurgy/research/Magnetic-Materials-Background/Magnetic-Materials-Background-1-History.pdf?utm_medium=twitter&utm_source=twitter-fri-heroes&utm_content=&utm_campaign=")
        
    
        +referenciaItem("Doppelbauer, D.-I. M. (2020). The invention of the electric motor 1800-1854. Obtenido de karlsruhe Institute of Technology.", "https://www.eti.kit.edu/english/1376.php")

    
        +referenciaItem("Hyundai. (s. f.). Historia del motor eléctrico. ", "https://blog.hyundaicanarias.com/historia-del-motor-electrico/")

    
        +referenciaItem("International Headquarters. (s. f.). Permanent Magnet Motor. http://borets.com/. ", "http://borets.com/files/broshures/PMM.pdf")

    
        +referenciaItem("JASZCZOLT, C., & AMERICA INC., Y. A. S. K. A. W. A. (2017). Understanding permanent magnet motors [Imagen]. Control Engineering. ", "https://www.controleng.com/articles/understanding-permanent-magnet-motors")

    
        +referenciaItem("NEW ENERGY AND FUEL. (2010). Induction Permanent Magnet Motor Comparison. [Imagen]. ", "https://newenergyandfuel.com/http:/newenergyandfuel/com/2010/02/09/the-best-electric-vehicle-motor/.")

    
        +referenciaItem("Rahman, M. A. (2012). History of interior permanent magnet motors [History]. IEEE Industry Applications Magazine. ", "https://ieeexplore.ieee.org/document/6377525")

    
        +referenciaItem("Sites Google. (s. f.). Tipos de Corriente. ", "https://sites.google.com/site/tiposdecorriente/")    

        +referenciaItem("Soluciones ABB para bombas electrosumergibles. (s. f.). Transformador de Subida [Fotografía.]. ", "https://new.abb.com/docs/librariesprovider78/capacitaciones/programa-entrenamiento-colombia/catalogos/bombas-electrosumergibles.pdf?sfvrsn=2.")    

        +referenciaItem("Schlumberger. (s. f.). Oilfield Glossary. ", "https://www.glossary.oilfield.slb.com/es/Terms/h/hydraulic_head.aspx") 

        +referenciaItem("The rise of the electric motor. (2016). Science Direct Journals & Books, Science Direct Journals&Books. ", "https://doi.org/10.1016/S0262-1762(16)30133-X")                          

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            